<h1> List of the cocktails</h1>
<div>
  <% @cocktails.each do |cocktail| %>
    <div class="row">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>

<h3><%= link_to "Create a new Cocktail", new_cocktail_path %></h3>