<h1> List of the cocktails</h1>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-4">
        <%= image_tag cocktail.picture.url(:medium), class: "img-circle" %>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      </div>
    <% end %>
    </div>
</div>

<h3><%= link_to "Create a new Cocktail", new_cocktail_path %></h3>