<h1> List of the cocktails</h1>
<div>
  <% @cocktails.each_with_index do |cocktail, index| %>
    <div class="row">
      <div class="col-xs-4">
        <%= link_to (image_tag "image#{index}.jpg"), cocktail_path(cocktail) %>
      </div>
    </div>
  <% end %>
</div>

<h3><%= link_to "Create a new Cocktail", new_cocktail_path %></h3>